  /* General */
  body {
           background: #fc792a;
	   font-family: Helvetica, Arial;
	   font-size:12px;
	   }


 /* Links */
  a:link {
           color: #000000;
           text-decoration: underline;   
           }

  a:visited {
              color : #000000;
              text-decoration: underline;  
              }

  a:hover {
            color: #ffffff;
	     background-color:#f8640b;
            text-decoration: underline; 
            }

  a:active {
             color: #000000;
             text-decoration: none;
             } 
#menu { 
      background-color:#bf1906;
      cell-padding:20px;
}

#menu p {
      font-size:12px; 
}

p.header {
	 font-size:14px;
	 color:#000000;	
	 font-weight:bold;
}


#content {
	 background-color:#ffffff;
	 height:500px;
	 width:800px;
}

p.code {
        font-family: courier, sans serif;
}

